body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(71, 147, 175);
    padding-bottom: 40px;
}

#title {
    font-size: 64px;
    font-family: fantasy;
    font-weight: bolder;
    margin: 40px;
    text-align: center;
    border-radius: 24px;
    width: 40%;
    border:4px solid black;
    background-color: rgb(255, 196, 112);
    color: rgb(139, 50, 44);
    cursor: pointer;
    box-shadow: 8px 8px 0px black; /* Bold shadow for cartoon effect */
    transition: all 0.2s ease-in-out;
}

#title:hover {
    transform: translateY(-4px) translateX(-4px); /* Slight lift effect */
    box-shadow: 12px 12px 0px black; /* Shadow gets larger */
}

#title:active {
    transform: translateY(4px) translateX(4px); /* Pressed-in effect */
    box-shadow: 4px 4px 0px black; /* Shadow becomes smaller */
}

#container {
    box-shadow: 8px 8px 0px black;
    height: 960px;
    width: 960px;
    padding: 8px;
    background-color: rgb(139, 50, 44);
    border: 4px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.gridRow {
    display: flex;
    width: 100%;
    flex: 1;
}
.cell {
    flex: 1;
    background-color: white;
}